
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Aleo:ital,wght@0,100..900;1,100..900&family=Amiko:wght@400;600;700&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Forum&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=League+Gothic&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Licorice&family=PT+Serif+Caption:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarala:wght@400;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --primary-color: #214225;
    --primary-color-2: #07270B;
    --secondary-color: #9C2C16;
    --txt-color-primary: #FFFFFF;
    --txt-color-secondary: #D1A066;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: "Source Serif 4", serif;
    --bg-primary: #FFFFFF;
}
.primary-color{
    background-color: var(--primary-color);
}
.primary-color-2{
    background-color: var(--primary-color-2);
}
.secondary-color{
    background-color: var(--secondary-color);
}
.txt-color-primary, .bg-primary{
    color: var(--txt-color-primary);
}

.txt-color-secondary{
    color: var(--txt-color-secondary);
}

.font-primary{
    font-family: var(--font-primary);
}
.font-secondary{
    font-family: var(--font-secondary);
}


/* navbar */
.navbar{
    --bs-navbar-toggler-icon-bg: url("/image/togel.svg");

}
.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.navbar.primary-color-2 {
    padding: 1rem;
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -ms-border-radius: 0px 0px 30px 30px;
    -o-border-radius: 0px 0px 30px 30px;
    width: 100%;
    
}
.nav-link{
    color: var(--bg-primary);
    font-family: var(--font-primary);
}
.nav-link:hover{
    color: var(--txt-color-secondary);
}
.navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg);
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 32px;
    }
}

/* hover */
/* text hover */
.txt-hover, .txt-header{
    font-family: var(--font-secondary);
     font-weight: 800;
}
.text-hover .txt-hover{
  font-size: 58px;
  margin-bottom: 0px;
  line-height: 4.2rem;
}
.txt-hover .highlight1, .txt-hover .highlight2, .headline-header{
  color: var(--secondary-color);
}

.highlight1::before {
    content: '';
    position: absolute;
    margin-top: 47px;
    width: 269px;
    height: 35px;
    background-image: url(/image/highlight1.svg);
    z-index: -1;
    border-radius: 28.2em;
}
.highlight2::before {
    content: '';
    position: absolute;
    margin-top: 42px;
    width: 269px;
    height: 35px;
    background-image: url(/image/highlight2.svg);
    z-index: -1;
    border-radius: 28.2em;
}
.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-headline{
    width: 500px;
}
.text-hover .small-txt, .sub-headline{
  font-size: 20px;
  font-family: var(--font-primary);
 
}
.btn-1 {
    background: var(--primary-color-2);
    color: var(--bg-primary);
}
.btn-1:hover {
    background: var(--primary-color);
     color: var(--bg-primary);
   
}
.btn-2 {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}
.btn-2:hover {
    background: var(--secondary-color);
    color: var(--bg-primary);
}
.btn-1, .btn-2 {
    display: flex;
    gap: 1rem;
    border-radius: 20px;
    padding: 10px 14px;
    justify-content: center;
}
img.icon-btn {
    width: 24px;
    height: 24px;
}
.btn-2 span.icon-btn {
    width: 24px;
    height: 24px;
    background-image: url(/image/offers.png);
}
.btn-2:hover span.icon-btn {
    width: 24px;
    height: 24px;
    background-image: url(/image/icon_white_offers.png);
}
/* end over txt */
/* img hover */
.image-container {
    position: relative;
    width: 387px;
    height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: auto;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.image1 {
  z-index: 1;
      transform: translateY(-14px);
    width: 485px;
}

.image2 {
  z-index: 2;
    transform: translateY(37px) translateX(41px);
    width: 377px;
}

.image3 {
  z-index: 3;
  transform: translateY(34px) translateX(30px);
  -webkit-transform: translateY(34px) translateX(30px);
  -moz-transform: translateY(34px) translateX(30px);
  -ms-transform: translateY(34px) translateX(30px);
  -o-transform: translateY(34px) translateX(30px);
}

.image1:hover .image1 {
  transform: translateY(-10px);
}

.image1:hover .image2 {
  transform: translateY(10px);
}

.image1:hover .image3 {
  transform: translateY(30px);
}

/* New hover effects */
.image-container:hover .image2 {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.image-container:hover .image3 {
  transform: scale(1.1) translateY(40px);
}

/* Ensure the hover effect applies to all images within the card */
.image-container:hover .image1,
.image-container:hover .image2,
.image-container:hover .image3 {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
/* end image hover */
/* end hover */

/* card menu */
.card.menu{
    border:none;
    width: 21rem;
    height: 441px;
}
.card.menu:hover{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: linear-gradient(#d1a066, #ffffff);
    border: 2px solid var(--txt-color-secondary);
}
.card .img-card {
    width: 292px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card .img-card .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.card-text.font-primary{
    font-size: 14px;
}
.card-title.font-primary{
    font-weight: 800;
}
/* end card menu */
/* section details menu */
.section-detail{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(/image/bg_detail_section.png);
    background-size: cover;

}
.detail-descript{
    color: var(--bg-primary);
}
.detail-descript .title{
    color: var(--txt-color-secondary);
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: 700;
}
.sub-main-title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-primary);
}
.detail{
    font-size: 13px;
    font-family: var(--font-primary);
}
/* end section menu details menu*/

/* footer */
footer{
    background: var(--primary-color-2);
    padding: 100px;

}
p.title-footer-menu {
    font-weight: 700;
}
ul.itm-footer {
    padding-left: 0px;
}
li.menu-footer, .itm-icon-ft {
    list-style: none;
    margin-bottom: 1rem;
    color: var(--txt-color-secondary);
}
/* end footer */
